In [1]:
import pandas as pd

In [2]:
bond = pd.read_csv('jamesbond.csv', index_col = 'Film')
bond.sort_index(inplace=True)

In [11]:
# works same as index_col param (can be more than one level)
# reset_index method undoes set_index
# set_index tosses col out of memory if used more than once

bond.set_index(['Film', 'Year']).head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [3]:
bond.loc['Casino Royale']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [23]:
bond.loc['Diamonds Are Forever':'From Russia with Love']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [24]:
bond.loc[['Casino Royale', 'Octopussy']]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [25]:
# iloc works like .loc[] but with indices

bond.iloc[12]

Year                          1979
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                   535.0
Budget                        91.5
Bond Actor Salary              NaN
Name: Moonraker, dtype: object

In [8]:
bond.iloc[4:8] # last index exclusive unlike .loc[]
bond.iloc[12:]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [11]:
bond.loc[['Skyfall', 'Spectre'], ['Actor', 'Director']]

                Actor    Director
Film
Skyfall  Daniel Craig  Sam Mendes
Spectre  Daniel Craig  Sam Mendes

In [14]:
bond.loc['Skyfall', 'Year': 'Budget']
bond.loc[['Skyfall', 'Spectre'], 'Year': 'Budget']

         Year         Actor    Director  Box Office  Budget
Film
Skyfall  2012  Daniel Craig  Sam Mendes       943.5   170.2
Spectre  2015  Daniel Craig  Sam Mendes       726.7   206.3

In [4]:
bond.iloc[23:, 1:5]

                              Actor            Director  Box Office  Budget
Film
Thunderball            Sean Connery       Terence Young       848.1    41.9
Tomorrow Never Dies  Pierce Brosnan  Roger Spottiswoode       463.2   133.9
You Only Live Twice    Sean Connery       Lewis Gilbert       514.2    59.9

In [22]:
# set a new value for the extracted cell
bond.loc['Spectre', ['Actor', 'Director']] = ['Joshua Lugada', 'John Doe']
bond.loc['Spectre', ['Actor', 'Director']]

Actor       Joshua Lugada
Director         John Doe
Name: Spectre, dtype: object

In [24]:
# overwrite multiple values

sean = bond['Actor'] == 'Sean Connery'
bond.loc[sean, 'Actor'] = 'Joshua Dan Lugada'
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Joshua Dan Lugada,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Joshua Dan Lugada,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Joshua Dan Lugada,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Joshua Dan Lugada,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Joshua Dan Lugada,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Joshua Lugada,John Doe,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Joshua Dan Lugada,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Joshua Dan Lugada,Lewis Gilbert,514.2,59.9,4.4

In [30]:
# rename() renames row and column names 

bond.rename(mapper = {'Skyfall':'Hello World'}, axis = 0)
bond.rename(mapper = {'Year':'Release','Box Office':'Revenue'}, axis = 1)

,Release,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Joshua Dan Lugada,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Joshua Dan Lugada,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Joshua Dan Lugada,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Joshua Dan Lugada,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Joshua Dan Lugada,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Joshua Lugada,John Doe,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Joshua Dan Lugada,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Joshua Dan Lugada,Lewis Gilbert,514.2,59.9,4.4

In [34]:
# delete rows and columns using .drop()

bond.drop('Casino Royale')
bond.drop('Bond Actor Salary', axis = 1)

,Year,Actor,Director,Box Office,Budget
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0
Diamonds Are Forever,1971,Joshua Dan Lugada,Guy Hamilton,442.5,34.7
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2
Dr. No,1962,Joshua Dan Lugada,Terence Young,448.8,7.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2
From Russia with Love,1963,Joshua Dan Lugada,Terence Young,543.8,12.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9
Goldfinger,1964,Joshua Dan Lugada,Guy Hamilton,820.4,18.6
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5
Never Say Never Again,1983,Joshua Dan Lugada,Irvin Kershner,380.0,86.0
Octopussy,1983,Roger Moore,John Glen,373.8,53.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2
Spectre,2015,Joshua Lugada,John Doe,726.7,206.3
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3
Thunderball,1965,Joshua Dan Lugada,Terence Young,848.1,41.9
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9
You Only Live Twice,1967,Joshua Dan Lugada,Lewis Gilbert,514.2,59.9

In [37]:
bond

,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,John Glen,275.2,54.5,9.1
Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Spectre,2015,John Doe,726.7,206.3,NaN
The Living Daylights,1987,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4

In [38]:
year = bond.pop('Year')
year

Film
A View to a Kill                   1985
Casino Royale                      2006
Casino Royale                      1967
Diamonds Are Forever               1971
Die Another Day                    2002
Dr. No                             1962
For Your Eyes Only                 1981
From Russia with Love              1963
GoldenEye                          1995
Goldfinger                         1964
Licence to Kill                    1989
Live and Let Die                   1973
Moonraker                          1979
Never Say Never Again              1983
Octopussy                          1983
On Her Majesty's Secret Service    1969
Quantum of Solace                  2008
Skyfall                            2012
Spectre                            2015
The Living Daylights               1987
The Man with the Golden Gun        1974
The Spy Who Loved Me               1977
The World Is Not Enough            1999
Thunderball                        1965
Tomorrow Never Dies                1997
You Only Live Twice                1967
Name: Year, dtype: int64

In [39]:
bond.head(5)

                             Director  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill            John Glen       275.2    54.5                9.1
Casino Royale         Martin Campbell       581.5   145.3                3.3
Casino Royale              Ken Hughes       315.0    85.0                NaN
Diamonds Are Forever     Guy Hamilton       442.5    34.7                5.8
Die Another Day          Lee Tamahori       465.4   154.2               17.9

In [40]:
del bond['Bond Actor Salary']
bond

                                           Director  Box Office  Budget
Film
A View to a Kill                          John Glen       275.2    54.5
Casino Royale                       Martin Campbell       581.5   145.3
Casino Royale                            Ken Hughes       315.0    85.0
Diamonds Are Forever                   Guy Hamilton       442.5    34.7
Die Another Day                        Lee Tamahori       465.4   154.2
Dr. No                                Terence Young       448.8     7.0
For Your Eyes Only                        John Glen       449.4    60.2
From Russia with Love                 Terence Young       543.8    12.6
GoldenEye                           Martin Campbell       518.5    76.9
Goldfinger                             Guy Hamilton       820.4    18.6
Licence to Kill                           John Glen       250.9    56.7
Live and Let Die                       Guy Hamilton       460.3    30.8
Moonraker                             Lewis Gilbert       535.0    91.5
Never Say Never Again                Irvin Kershner       380.0    86.0
Octopussy                                 John Glen       373.8    53.9
On Her Majesty's Secret Service       Peter R. Hunt       291.5    37.3
Quantum of Solace                      Marc Forster       514.2   181.4
Skyfall                                  Sam Mendes       943.5   170.2
Spectre                                    John Doe       726.7   206.3
The Living Daylights                      John Glen       313.5    68.8
The Man with the Golden Gun            Guy Hamilton       334.0    27.7
The Spy Who Loved Me                  Lewis Gilbert       533.0    45.1
The World Is Not Enough               Michael Apted       439.5   158.3
Thunderball                           Terence Young       848.1    41.9
Tomorrow Never Dies              Roger Spottiswoode       463.2   133.9
You Only Live Twice                   Lewis Gilbert       514.2    59.9

In [9]:
# extract random sample
bond.sample(n=4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [12]:
# extracting rows/cols with smallest or largets values
# nlargest & nsmallest methods can be called on Series
bond.nlargest(4, 'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [13]:
bond.nsmallest(4, 'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

In [18]:
# filtering a df
mask = bond['Actor'] == 'Sean Connery'
mask2 = bond['Box Office'] > 800
bond.where(mask & mask2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
bond.columns = [col_name.replace(' ', '_') for col_name in bond.columns]

In [22]:
# query does not return NaN rows
bond.query('Actor == "Sean Connery"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [24]:
bond.query("Actor == 'Roger Moore' and Director == 'John Glen'") # query for more than one

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [25]:
bond.query("Actor in ['Timothy Dalton','Sean Connery']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [26]:
def convert_to_string(number):
    return '$' + str(number)

In [28]:
cols = ['Box_Office', 'Budget', 'Bond_Actor_Salary']
for col in cols:
    bond[col] = bond[col].apply(convert_to_string)
bond

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,$275.2,$54.5,$9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,$581.5,$145.3,$3.3
Casino Royale,1967,David Niven,Ken Hughes,$315.0,$85.0,$nan
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,$442.5,$34.7,$5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,$465.4,$154.2,$17.9
Dr. No,1962,Sean Connery,Terence Young,$448.8,$7.0,$0.6
For Your Eyes Only,1981,Roger Moore,John Glen,$449.4,$60.2,$nan
From Russia with Love,1963,Sean Connery,Terence Young,$543.8,$12.6,$1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,$518.5,$76.9,$5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,$820.4,$18.6,$3.2
Licence to Kill,1989,Timothy Dalton,John Glen,$250.9,$56.7,$7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,$460.3,$30.8,$nan
Moonraker,1979,Roger Moore,Lewis Gilbert,$535.0,$91.5,$nan
Never Say Never Again,1983,Sean Connery,Irvin Kershner,$380.0,$86.0,$nan
Octopussy,1983,Roger Moore,John Glen,$373.8,$53.9,$7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,$291.5,$37.3,$0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,$514.2,$181.4,$8.1
Skyfall,2012,Daniel Craig,Sam Mendes,$943.5,$170.2,$14.5
Spectre,2015,Daniel Craig,Sam Mendes,$726.7,$206.3,$nan
The Living Daylights,1987,Timothy Dalton,John Glen,$313.5,$68.8,$5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,$334.0,$27.7,$nan
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,$533.0,$45.1,$nan
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,$439.5,$158.3,$13.5
Thunderball,1965,Sean Connery,Terence Young,$848.1,$41.9,$4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,$463.2,$133.9,$10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,$514.2,$59.9,$4.4

In [29]:
directors = bond['Director'].copy()
directors['A View to a Kill'] = 'Mr. Joshua Lugada'

In [31]:
bond['Director'] = directors

In [32]:
bond.head(5)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mr. Joshua Lugada,$275.2,$54.5,$9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,$581.5,$145.3,$3.3
Casino Royale,1967,David Niven,Ken Hughes,$315.0,$85.0,$nan
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,$442.5,$34.7,$5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,$465.4,$154.2,$17.9